/*CSS RESETS*/
body {
  background-color: #fff;
  line-height: 1.6;
     }

h1 {margin-top: 0;}

/*CSS START*/
.Aff_Date   {
        display: block;
        min-width: 162px;
        /* padding-right: 30px; */
        /* border-right: 2px solid #295C7B; */
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
        }

.Aff_Horloge {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        /* padding-left: 20px; */
        }

.Carte_Visite   {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  background: #00ff00;
  color: #fff;
  display: inline-block;
  box-shadow: 2px 2px 1px 0px #295C7B;
                }

.Control {}

.Carte_Visite:hover {
  margin-top: 2px;
  box-shadow: none;
                     }

.Colonne {
  font-size: 1.1em;
  display: inline-block;
        }

.full-table {
            display: table;
            height: 100%;
            width: 100%;
            }

.table-cell {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            }

.Progress_Barre {           /*la partie colorée qui grandit en largeur en fonction du pourcentage */
  height: 100%;            /* occupe toute la hauteur du conteneur */
  background: #4caf50;     /* couleur de la barre de progression (vert) */
  text-align: center;      /* centre le texte horizontalement à l’intérieur */
  font-size: 15px;         /* taille du texte */
  line-height: 30px;       /* décale le texte verticalement au milieu (égale à la hauteur) */
  color: white;            /* couleur du texte en blanc pour contraster avec le vert */
  font-weight: bold;       /* rend le texte en gras */
  width: 0%;               /* largeur initiale (sera mise à jour en JavaScript selon % de progression) */
                }

.Progress_Container {    /* la boîte grise arrondie qui sert de cadre */
  width: 50%;           /* largeur de la barre (ici 50% de la largeur du parent) */
  background: #eee;     /* couleur de fond du conteneur (gris clair) */
  border-radius: 10px;  /* arrondit les coins du conteneur */
  overflow: hidden;     /* coupe ce qui dépasse (important pour garder les coins arrondis) */
  height: 30px;         /* hauteur totale de la barre */
                    }

.Salutation {
  min-width: 162px;
  /* padding-right: 30px; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
            }

.Widget   {
  display: inline-block;
  min-width: 37px;
          }

.Zone_Widget {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  /* padding-left: 20px; */
            }

#MoisTexte {
  margin-top: 8px;     /* petit espace au-dessus pour éviter que ça colle */
  font-size: 20px;     /* taille du texte */
  color: #333;         /* couleur gris foncé, lisible sur fond clair */
}
